# Core Django
Django==4.2.5
asgiref==3.7.2
sqlparse==0.4.4
pytz==2024.2
tzdata==2024.2

# REST API
djangorestframework==3.15.1

# Auth / User management
django-allauth==64.2.0
django-allauth-2fa==0.11.1
django-otp==1.5.2
django-two-factor-auth==1.17.0
django-user-sessions==2.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0

# Forms / Tools
django-formtools==2.5.1
django-phonenumber-field==8.0.0
phonenumbers==8.13.44

# Deployment essentials
gunicorn==23.0.0
whitenoise==6.7.0
psycopg2-binary==2.9.9
dj-database-url==2.3.0

# Image & File handling
Pillow==10.3.0
reportlab==4.2.5
xhtml2pdf==0.2.16
qrcode==7.4.2
pypdf==5.1.0

# Utilities
requests==2.32.3
cryptography==43.0.3
python-bidi==0.6.3
arabic-reshaper==3.0.0
lxml==5.3.0
cssselect2==0.7.0
tinycss2==1.4.0
svglib==1.5.1
pyhanko==0.25.3
pyhanko-certvalidator==0.26.5
